/node_modules
/public/hot
/public/storage
/public/galleries
/public/images
/public/img/logo.*
/public/img/slides/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
