/node_modules
/public/hot
/public/storage
/public/galleries
/public/images
/public/img/logo.*
/public/img/slides/*
/public/img/avatars/*
/public/img/mitra-kerja/*
/public/img/jurusan/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
